name: System Tests

on:
  workflow_call:
    inputs:
      AVO_DEPENDENCIES:
        description: "Necessary avo repos for testing"
        required: false
        type: string
      AVO_FALLBACK_BRANCH:
        description: "Branch to fallback"
        required: false
        type: string
        default: "main"
    secrets:
      AVO_CLONE_KEY:
        required: true
      AVO_GEM_TOKEN:
        required: true

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RAILS_ENV: test
  BUNDLE_PATH_RELATIVE_TO_CWD: true
  AVO_LICENSE_KEY: license_123
  PGHOST: localhost
  PGUSER: postgres
  PGPORT: 5432
  POSTGRES_HOST: localhost
  POSTGRES_USERNAME: postgres
  POSTGRES_PORT: 5432
  GH_TOKEN: ${{ secrets.AVO_CLONE_KEY }}

jobs:
  system_specs:
    strategy:
        matrix:
          ruby:
            - '3.1.4'
            - '3.3.0'
          rails:
            - '7.1'
            - '8.0'
          exclude:
            - ruby: '3.1.4'
              rails: '8.0'
            - ruby: '3.3.0'
              rails: '7.1'
    runs-on: ubuntu-latest

    env:
      RAILS_VERSION: ${{matrix.rails}}
      BUNDLE_GEMFILE: gemfiles/rails_${{ matrix.rails }}_ruby_${{ matrix.ruby }}.gemfile

    services:
      postgres:
        image: postgres:10.8
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        bundler: default
        ruby-version: ${{ matrix.ruby }}

    - name: Add AVO_GEM_TOKEN
      run: bundle config set --global https://packager.dev/avo-hq/ ${{secrets.AVO_GEM_TOKEN}}

    - uses: actions/cache@v3
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-test-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-test-gems-${{ hashFiles('**/Gemfile.lock') }}

    - name: Clone Avo repositories
      shell: bash
      run: |
        # Ensure "avo" is always included
        avo_dependencies_repositories="avo,${{ inputs.AVO_DEPENDENCIES }}"

        # Convert string into an array
        IFS=',' read -ra repos <<< "$avo_dependencies_repositories"

        for repo in "${repos[@]}"; do
          echo "Cloning $repo..."

          # Set GitHub repository path
          gh_repo="avo-hq/$repo"
          path="./../$repo"

          # Check if the branch exists
          if gh api repos/$gh_repo/branches/${{ github.head_ref }} --silent; then
            echo "Branch ${{ github.head_ref }} exists, checking out..."
            branch_ref="${{ github.head_ref }}"
          else
            echo "Branch ${{ github.head_ref }} not found, defaulting to main..."
            branch_ref=${{ inputs.AVO_FALLBACK_BRANCH }}
          fi

          # Clone the repo
          gh repo clone $gh_repo $path -- --branch $branch_ref

          echo ""
        done

    - name: Bundle install
      run: |
        bundle config path vendor/bundle
        bundle install --jobs 4 --retry 3

    - name: Compile Avo assets (development mode)
      run: |
        cd ../avo
        bundle install
        yarn install
        yarn build
        bin/rails avo:sym_link

    - name: Setup DB
      run: bin/rails db:migrate:reset

    - name: Get yarn cache directory path
      id: test-yarn-cache-dir-path
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - uses: actions/cache@v3
      id: test-yarn-cache
      with:
        path: ${{ steps.test-yarn-cache-dir-path.outputs.dir }}
        key: ${{ runner.os }}-test-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-test-yarn-${{ hashFiles('**/yarn.lock') }}

    - name: Yarn install the dummy app
      run: |
        cd spec/dummy
        yarn

    - name: Yarn install
      run: yarn

    - name: Build assets
      env:
        RAILS_ENV: production
        NODE_ENV: production
      run: yarn build

    - name: Run tests
      id: run_tests
      run: bundle exec rspec spec/system

    - uses: actions/upload-artifact@v4
      if: always() && steps.run_tests.outcome == 'failure'
      with:
        name: rspec_failed_screenshots_rails
        path: ./spec/dummy/tmp/screenshots
